@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: 'Montserrat', sans-serif;
}

body a {
  color: #1f373d;
}

footer {
  background-color: #1f373d;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .container {
    max-width: 765px;
  }
}

.nav__menu {
  color: #1f373d;
  padding: 0;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu a:not(.logo):hover {
  background-color: #ffcc01;
  border-radius: 3px;
}

.nav__menu .logo {
  font-size: 25px;
  font-weight: 600;
  margin: 0 185px 0 0;
  letter-spacing: -0.625px;
}

@media screen and (max-width: 1150px) {
  .nav__menu .logo {
    font-size: 21px;
    margin: 0 100px 0 0;
  }
}

@media screen and (max-width: 950px) {
  .nav__menu .logo {
    margin: 0;
  }
}

.nav__menu .contacts {
  margin: 0 50px 0 0;
}

@media screen and (max-width: 950px) {
  .nav__menu .contacts {
    margin: 0;
  }
}

.nav__menu .btn {
  padding: 10px 15px;
  background-color: #ffcc01;
  border-radius: 3px;
}

@media screen and (max-width: 1150px) {
  .nav__menu .btn {
    padding: 10px;
  }
}

@media screen and (max-width: 765px) {
  .nav__menu .btn {
    background-color: #fff;
  }
}

@media screen and (max-width: 765px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    -webkit-transition: height .3s linear;
    transition: height .3s linear;
  }
  .nav__menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

.nav__menu-item {
  white-space: nowrap;
  font-size: 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  padding: 10px 15px;
}

@media screen and (max-width: 1150px) {
  .nav__menu-item {
    padding: 11px;
  }
}

@media screen and (max-width: 765px) {
  .nav__menu-item {
    width: 100%;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.nav__toggle {
  display: none;
}

@media screen and (max-width: 765px) {
  .nav__toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    background-color: #ffcc01;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .nav__toggle .toggle:hover {
    background-color: #d3a900;
  }
}

#checkbox-menu {
  display: none;
}

@media screen and (max-width: 765px) {
  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
  }
  #checkbox-menu:checked + label .touch {
    height: 350px;
  }
}

.intro {
  color: #1f373d;
  margin: 25px 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 765px) {
  .intro {
    margin: 0;
  }
}

.intro__img {
  background-image: url(../img/intro.jpg);
  width: 900px;
  height: 630px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .intro__img {
    height: 480px;
  }
}

.intro__search {
  position: absolute;
  left: -225px;
  right: 750px;
  top: 100px;
}

@media screen and (max-width: 1150px) {
  .intro__search {
    left: -200px;
  }
}

@media screen and (max-width: 765px) {
  .intro__search {
    position: static;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .intro__search {
    margin: 75px 0 0 0;
  }
}

.intro__search-title {
  white-space: nowrap;
  font-size: 63px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: -0.625px;
}

@media screen and (max-width: 765px) {
  .intro__search-title {
    padding: 50px 0 0 0;
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .intro__search-title {
    font-size: 28px;
    padding: 0;
    line-height: 50px;
  }
}

.intro__contacts {
  position: absolute;
  background-color: #ffcc01;
  border-top-left-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.625px;
  min-width: 500px;
  top: 552px;
  left: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px;
}

.intro__contacts i {
  color: #fff;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 1150px) {
  .intro__contacts {
    left: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .intro__contacts {
    top: 405px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    padding: 10px 20px;
    min-width: 320px;
  }
  .intro__contacts p {
    padding: 8px;
  }
}

.search {
  color: #1f373d;
}

.search__form {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 765px) {
  .search__form {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .search__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 320px;
    margin: 25px auto;
  }
}

.search__form-input {
  font-size: 15px;
  color: #919eb1;
  letter-spacing: -0.625px;
  min-width: 350px;
  height: 70px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url(../img/search_icon.png);
  background-repeat: no-repeat;
  background-position: 27px;
  outline: none;
  padding: 0 0 0 60px;
}

@media screen and (max-width: 765px) {
  .search__form-input {
    border-radius: 5px;
  }
}

@media screen and (max-width: 500px) {
  .search__form-input {
    height: 50px;
    min-width: 250px;
    font-size: 12px;
  }
}

.search__form-btn {
  height: 70px;
  min-width: 115px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.625px;
  background-color: #ffcc01;
  text-align: center;
  padding: 27px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 765px) {
  .search__form-btn {
    border-radius: 5px;
  }
}

@media screen and (max-width: 500px) {
  .search__form-btn {
    height: 50px;
    min-width: 65px;
    font-size: 12px;
    padding: 20px;
  }
}

.statistics {
  color: #1f373d;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  .statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 0 0 0;
  }
}

.statistics__info {
  margin: 0 100px 0 0;
}

@media screen and (max-width: 1150px) {
  .statistics__info {
    margin: 0;
  }
}

.statistics__info-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: -0.625px;
  max-width: 350px;
}

@media screen and (max-width: 1150px) {
  .statistics__info-title {
    max-width: none;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
  }
}

.statistics__info-text {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: -0.625px;
  font-weight: 500;
}

.statistics__info-text p {
  margin: 50px 0 0 0;
}

@media screen and (max-width: 1150px) {
  .statistics__info-text p {
    margin: 40px;
  }
}

@media screen and (max-width: 950px) {
  .statistics__info-text p {
    margin: 25px;
  }
}

.statistics__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

@media screen and (max-width: 950px) {
  .statistics__row {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.statistics__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .statistics__columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 765px) {
  .statistics__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.statistics__columns-item {
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 950px) {
  .statistics__columns-item {
    width: 175px;
    height: 175px;
  }
}

@media screen and (max-width: 765px) {
  .statistics__columns-item {
    width: 150px;
    height: 150px;
  }
}

.statistics__columns-item-number {
  color: #ffcc01;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.625px;
  line-height: 50px;
}

@media screen and (max-width: 765px) {
  .statistics__columns-item-number {
    font-size: 30px;
    line-height: 30px;
  }
}

.statistics__columns-item-text {
  font-weight: 600;
  letter-spacing: -0.625px;
  line-height: 50px;
}

.apartments {
  color: #1f373d;
  background-color: #f6f5f4;
  padding: 60px 0 0 0;
}

@media screen and (max-width: 1150px) {
  .apartments {
    padding: 60px 0 0 40px;
  }
}

@media screen and (max-width: 765px) {
  .apartments {
    padding: 0px 0 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .apartments {
    padding: 0px 0 0 25px;
  }
}

@media screen and (max-width: 500px) {
  .apartments {
    padding: 0px 0 0 35px;
  }
}

@media screen and (max-width: 375px) {
  .apartments {
    padding: 0px 0 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .apartments {
    padding: 0px 0 0 10px;
  }
}

.apartments__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: -0.625px;
  max-width: 500px;
  padding: 50px 0 0 0;
}

@media screen and (max-width: 765px) {
  .apartments__title {
    max-width: 300px;
    font-size: 25px;
    line-height: 30px;
  }
}

.apartments__cards {
  margin: 30px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

@media screen and (max-width: 1150px) {
  .apartments__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .apartments__cards {
    margin: 10px 0 0 0;
  }
}

.apartments__cards-item {
  max-width: 350px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 765px) {
  .apartments__cards-item {
    max-width: 290px;
  }
}

@media screen and (max-width: 600px) {
  .apartments__cards-item {
    width: 240px;
  }
}

@media screen and (max-width: 500px) {
  .apartments__cards-item {
    width: 160px;
  }
}

@media screen and (max-width: 320px) {
  .apartments__cards-item {
    width: 150px;
  }
}

.apartments__cards-item:hover {
  background-color: #fafaf9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.apartments__search {
  padding: 0 0 30px 0;
}

@media screen and (max-width: 765px) {
  .apartments__search-form {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .apartments__search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.apartments__search-form-input {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 765px) {
  .apartments__search-form-input {
    min-width: 300px;
    padding: 0 0 0 60px;
    font-size: 12px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .apartments__search-form-input {
    min-width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .apartments__search-form-input {
    min-width: 100px;
  }
}

.apartments__search-form-btn {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 765px) {
  .apartments__search-form-btn {
    height: 50px;
    min-width: 115px;
    font-size: 11px;
    padding: 13px 40px;
  }
}

@media screen and (max-width: 600px) {
  .apartments__search-form-btn {
    padding: 14px 10px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .apartments__search-form-btn {
    min-width: 95px;
  }
}

.apartments__search-form-all {
  background-color: #fff;
  height: 70px;
  min-width: 115px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.625px;
  text-align: center;
  padding: 27px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 0 40px;
}

@media screen and (max-width: 765px) {
  .apartments__search-form-all {
    max-width: 300px;
    height: 50px;
    font-size: 11px;
    padding: 14px;
    margin: 0 0 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .apartments__search-form-all {
    margin: 10px 0 0 2px;
    height: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 765px) {
  .item__img {
    width: 290px;
  }
}

@media screen and (max-width: 600px) {
  .item__img {
    width: 240px;
  }
}

@media screen and (max-width: 500px) {
  .item__img {
    width: 160px;
  }
}

@media screen and (max-width: 320px) {
  .item__img {
    width: 150px;
  }
}

.item__info {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 765px) {
  .item__info {
    padding: 15px;
  }
}

.item__info-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.625px;
  padding: 0 30px 10px 0;
  line-height: 20px;
}

@media screen and (max-width: 765px) {
  .item__info-title {
    font-size: 12px;
    padding: 0 30px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .item__info-title {
    font-size: 10px;
  }
}

.item__info-money {
  color: #ffcc01;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.625px;
  line-height: 50px;
  padding: 0 100px 0 0;
}

@media screen and (max-width: 765px) {
  .item__info-money {
    padding: 0 50px 0 0;
    font-size: 16px;
    line-height: 35px;
  }
}

@media screen and (max-width: 600px) {
  .item__info-money {
    padding: 0 30px 0 0;
    font-size: 14px;
  }
}

.item__info-room {
  line-height: 50px;
  color: #919eb1;
}

@media screen and (max-width: 765px) {
  .item__info-room {
    font-size: 12px;
    line-height: 35px;
  }
}

@media screen and (max-width: 600px) {
  .item__info-room {
    font-size: 12px;
  }
}

.item__info-room span {
  margin: 0 0 0 10px;
}

@media screen and (max-width: 500px) {
  .item__info-room span {
    margin: 0;
  }
}

.item__info-room i {
  color: #919eb1;
  margin: 0 8px 0 0;
}

@media screen and (max-width: 500px) {
  .item__info-room i {
    margin: 0 5px 0 0;
  }
}

.steps {
  color: #1f373d;
}

.steps__info {
  margin: 50px 0 0 0;
}

.steps__info-title {
  line-height: 50px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.625px;
}

@media screen and (max-width: 900px) {
  .steps__info-title {
    text-align: center;
    line-height: 30px;
  }
}

.steps__info-text {
  margin: 20px 0 60px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  max-width: 360px;
}

@media screen and (max-width: 900px) {
  .steps__info-text {
    text-align: center;
    margin: 30px auto;
  }
}

.steps__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 765px) {
  .steps__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.steps__cards-item {
  width: 320px;
  height: 370px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 1150px) {
  .steps__cards-item {
    width: 250px;
  }
}

@media screen and (max-width: 765px) {
  .steps__cards-item {
    width: 320px;
  }
}

.steps__cards-item:hover {
  background-color: #ffcc01;
  color: #fff;
}

.steps__cards-item:hover .item__button {
  background-color: #ffcc01;
  color: #fff;
}

.steps__cards-item:hover .item__button::after {
  background-color: #fff;
}

.item__number {
  font-size: 200px;
  position: absolute;
  font-weight: 600;
  top: -80px;
  left: -40px;
}

.item__title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.625px;
  line-height: 63px;
  position: absolute;
  top: 140px;
  left: 50px;
}

.item__title span {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1150px) {
  .item__title {
    left: 30px;
  }
}

@media screen and (max-width: 765px) {
  .item__title {
    left: 50px;
  }
}

.item__text {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.625px;
  line-height: 30px;
  max-width: 200px;
  position: absolute;
  top: 200px;
  left: 70px;
}

@media screen and (max-width: 1150px) {
  .item__text {
    left: 30px;
  }
}

@media screen and (max-width: 765px) {
  .item__text {
    left: 70px;
  }
}

.item__button {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.625px;
  position: absolute;
  top: 300px;
  left: 70px;
  padding: 10px;
}

.item__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1f373d;
  bottom: 0;
  left: 0;
}

.services {
  color: #1f373d;
  margin: 20px 0 60px 0;
}

.services__info-title {
  line-height: 50px;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -0.625px;
}

@media screen and (max-width: 765px) {
  .services__info-title {
    text-align: center;
  }
}

.services__info-text {
  margin: 20px 0 50px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  max-width: 370px;
}

@media screen and (max-width: 765px) {
  .services__info-text {
    text-align: center;
    margin: 20px auto;
  }
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .services__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__block-item-title {
  line-height: 50px;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.625px;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 765px) {
  .services__block-item-title {
    text-align: center;
    margin: 10px 0;
  }
}

.services__block-item-text {
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  max-width: 370px;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1150px) {
  .services__block-item-text {
    max-width: none;
  }
}

@media screen and (max-width: 765px) {
  .services__block-item-text {
    text-align: center;
    margin: auto;
  }
}

.agents {
  color: #1f373d;
  background-color: #f6f5f4;
  padding: 60px 0 60px 0;
}

.agents__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: -0.625px;
  max-width: 500px;
}

@media screen and (max-width: 900px) {
  .agents__title {
    text-align: center;
    margin: auto;
  }
}

.agents__text {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: -0.625px;
  max-width: 350px;
  margin: 20px 0 50px 0;
}

@media screen and (max-width: 900px) {
  .agents__text {
    text-align: center;
    margin: 30px auto;
  }
}

.agents__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 765px) {
  .agents__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.agents__cards-card {
  max-width: 350px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 40px 0;
}

.agents__cards-card:hover {
  background-color: #fafaf9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1150px) {
  .card__img {
    width: 250px;
  }
}

@media screen and (max-width: 765px) {
  .card__img {
    width: 320px;
  }
}

.card__info {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 765px) {
  .card__info {
    padding: 15px;
  }
}

.card__info-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.625px;
  padding: 0 30px 0px 0;
  line-height: 20px;
}

@media screen and (max-width: 765px) {
  .card__info-title {
    font-size: 12px;
    padding: 0 30px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .card__info-title {
    font-size: 10px;
  }
}

.card__info-name {
  color: #ffcc01;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.625px;
  line-height: 50px;
}

@media screen and (max-width: 765px) {
  .card__info-name {
    padding: 0 50px 0 0;
    font-size: 12px;
    line-height: 35px;
  }
}

@media screen and (max-width: 600px) {
  .card__info-name {
    padding: 0 30px 0 0;
    font-size: 10px;
  }
}

.card__info-links {
  margin: 10px 0 0 0;
}

.card__info-links a {
  padding: 0 20px 0 0;
}

.card__info-links a:hover {
  color: #ffcc01;
}

.add {
  color: #1f373d;
  margin: 60px 0 0 0;
}

.add__section {
  padding: 0 0 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .add__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1150px) {
  .add__section:nth-child(1) {
    padding: 0;
  }
}

.add__section-img {
  position: relative;
}

@media screen and (max-width: 540px) {
  .add__section-img img {
    width: 320px;
  }
}

.add__section-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 450px;
          flex: 0 450px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1150px) {
  .add__section-info {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.add__section-info:nth-child(odd) {
  text-align: right;
}

@media screen and (max-width: 1150px) {
  .add__section-info:nth-child(odd) {
    text-align: center;
  }
}

.add__section-info-title {
  font-size: 25px;
  line-height: 50px;
  letter-spacing: -0.625px;
  font-weight: 700;
}

@media screen and (max-width: 1150px) {
  .add__section-info-title:nth-child(1) {
    margin: 50px 0 0 0;
  }
}

.add__section-info-text {
  margin: 20px 0 0 0;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: -0.625px;
}

@media screen and (max-width: 1150px) {
  .add__section-info-text {
    margin: 10px 0 10px 0;
  }
}

.add__section-info-button {
  display: inline-block;
  margin: 60px 0 0 0;
  background-color: #1f373d;
  padding: 30px;
  width: 240px;
  height: 80px;
  text-align: center;
}

.add__section-info-button a {
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.625px;
  font-weight: 600;
}

@media screen and (max-width: 1150px) {
  .add__section-info-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0 0 0;
  }
}

.first-location {
  display: inline-block;
  position: absolute;
  background-color: #ffcc01;
  padding: 25px;
  font-size: 18px;
  letter-spacing: -0.625px;
  text-align: center;
  width: 340px;
  left: 110px;
  top: 300px;
}

.first-location i {
  padding: 0 10px 0 0;
}

@media screen and (max-width: 540px) {
  .first-location {
    width: 320px;
    top: 160px;
    left: 0px;
    padding: 20px;
  }
}

.second-location {
  display: inline-block;
  position: absolute;
  background-color: #ffcc01;
  padding: 25px;
  font-size: 18px;
  letter-spacing: -0.625px;
  text-align: center;
  width: 340px;
  left: 250px;
  top: 290px;
}

.second-location i {
  padding: 0 10px 0 0;
}

@media screen and (max-width: 540px) {
  .second-location {
    width: 320px;
    top: 160px;
    left: 0px;
    padding: 20px;
  }
}

.footer {
  padding: 60px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid #919eb1;
}

@media screen and (max-width: 765px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 0 40px 0;
  }
}

.footer__title h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.625px;
  line-height: 50px;
}

@media screen and (max-width: 765px) {
  .footer__title h3 {
    text-align: center;
    line-height: 40px;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .footer__title h3 {
    font-size: 25px;
    line-height: 30px;
  }
}

.footer__search {
  position: relative;
}

.footer__search input {
  width: 475px;
  height: 70px;
  padding: 30px;
}

@media screen and (max-width: 950px) {
  .footer__search input {
    width: 310px;
    height: 30px;
  }
}

.footer__search a {
  position: absolute;
  top: 25px;
  left: 420px;
}

@media screen and (max-width: 950px) {
  .footer__search a {
    left: 265px;
    top: 20px;
  }
}

.footer__search a i {
  font-size: 25px;
}

.end {
  padding: 60px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .end {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 540px) {
  .end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.end__logo {
  max-width: 140px;
  color: #fff;
}

@media screen and (max-width: 540px) {
  .end__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .end__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.end__logo h4 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.625px;
  padding: 0 0 50px 0;
}

@media screen and (max-width: 950px) {
  .end__logo h4 {
    font-size: 20px;
    padding: 0 0 25px 0;
  }
}

@media screen and (max-width: 400px) {
  .end__logo h4 {
    font-size: 18px;
    text-align: center;
  }
}

.end__logo p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
}

@media screen and (max-width: 950px) {
  .end__logo p {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .end__logo p {
    font-size: 10px;
    text-align: center;
  }
}

.end__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 60%;
          flex: 0 60%;
}

.end__links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.end__links-item p {
  color: #919eb1;
  padding: 0 0 30px 0;
  font-size: 13px;
}

@media screen and (max-width: 950px) {
  .end__links-item p {
    padding: 0 0 15px 0;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .end__links-item p {
    font-size: 8px;
    padding: 0 0 12px 0;
  }
}

.end__links-item a {
  color: #fff;
  padding: 0 0 15px 0;
  font-size: 13px;
}

@media screen and (max-width: 950px) {
  .end__links-item a {
    padding: 0 0 8px 0;
    font-size: 9px;
  }
}

@media screen and (max-width: 400px) {
  .end__links-item a {
    font-size: 9px;
    padding: 0 0 7px 0;
  }
}

.end__links-item a:hover {
  color: #ffcc01;
}
/*# sourceMappingURL=style.css.map */